<div class="container-fluid p-5 bg-info text-center text-warning">
    <h1>MiniMeteo</h1>
    <p>Previsioni a cura di Raffaele Rizzardi</p> 
</div>
<div class="container mt-3 justify-content-center" style=" padding:15px; border: solid grey 3px; border-radius: 15px;">
    <h2>Cerca per località:</h2>
    <div>
      <div class="mb-3 mt-3">
        <input type="text" class="form-control" id="localita" placeholder="Scrivi qui" name="localita" style="width: 50%;" #localita>
      </div>
      <label for="listaLing" class="form-label">Scegli la lingua con con cui visualizzare i dati:</label>
        <select class="form-select" id="listaLing" name="listaLing" style="width: 50%;" #lingua>
        <option>it</option>
        <option>en</option>
        <option>fr</option>
        <option>es</option>
        <option>de</option>
        </select>
        <br>
        <label for="listaUnMis" class="form-label">Scegli la lingua con con cui visualizzare i dati:</label>
        <select class="form-select" id="listaUnMis" name="listaUnMis" style="width: 50%;" #unit_mis>
        <option>standard</option>
        <option>metric</option>
        <option>imperial</option>
        </select>
        <br>
        <button type="submit" class="btn btn-primary" (click)="getMeteo(localita.value, lingua.value, unit_mis.value)">Cerca</button>
    </div>
    <br>
</div>
<br>
<div class="container-fluid p-5 text-center">
    <h2>Le informazioni appariranno qui:</h2>
</div>
<!--Vengono mostrati qui i risultati-->
<div class="container mt-3" style="border: solid black 3px; border-radius: 20px; padding: 30px;">
    <h4>Nome: <span id="nome">{{nome}}</span></h4>
    <div class ="row">
        <div class="col-sm-4">
            <p>Latitudine: <span id="lat">{{lat}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Longitudine: <span id="long">{{long}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Paese: <span id="paese">{{paese}}</span></p>
        </div>
    </div>
    <hr>
    <h4>Descrizione:</h4>
    <div class ="row">
        <div class="col-sm-4">
            <p id="descrizione">{{descrizione}}</p>
        </div>
        <div class="col-sm-4">
            <img src = {{icon}} alt="Cerca una localita per mostare l'icona" style="height: 75px;">
        </div>
    </div>
    <hr>
    <h4>Temperatura:</h4>
    <div class ="row">
        <div class="col-sm-4">
            <p>Minima: <span id="temp_minima">{{temp_minima}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Attuale: <span id="temp">{{temp}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Massima: <span id="temp_massima">{{temp_massima}}</span></p>
        </div>
    </div>
    <hr>
    <h4>Pressione:</h4>
    <div class ="row">
        <div class="col-sm-4">
            <p>Pressione: <span id="pressione">{{pressione}}</span></p>
        </div>
    </div>
    <hr>
    <h4>Vento:</h4>
    <div class ="row">
        <div class="col-sm-4">
            <p>Velocità: <span id="vento_velocita">{{vento_velocita}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Direzione: <span id="vento_direzione">{{vento_direzione}}</span></p>
        </div>
    </div>
    <hr>
    <h4>Sole:</h4>
    <div class ="row">
        <div class="col-sm-4">
            <p>Sorge: <span id="alba">{{alba}}</span></p>
        </div>
        <div class="col-sm-4">
            <p>Tramonta: <span id="tramonto">{{tramonto}}</span></p>
        </div>
    </div>
    <br>
    <p>Ultimo aggiornamento: <span id="ult_agg">{{ult_agg}}</span></p>
</div>
<div style="height: 75px;"></div>