doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 header.header
    h1 #{title} (fatto da Raffo)
 body
article.container
         a(type="button" href=`/index`) Premi qui