doctype html
html
  head
    title Canzoni
    style.
      body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
      }
      .demo {
        background: #AECE1D;
        background: -moz-linear-gradient(left, #AECE1D 0%, #1C6EA4 60%, #C50000 100%);
        background: -webkit-linear-gradient(left, #AECE1D 0%, #1C6EA4 60%, #C50000 100%);
        background: linear-gradient(to right, #AECE1D 0%, #1C6EA4 60%, #C50000 100%);
        padding: 20px;
      }
      ul {
        list-style-type: none;
        padding: 0;
        margin: 20px auto;
        width: 50%;
        text-align: center;
      }
      li {
        margin-bottom: 10px;
      }
      a {
        text-decoration: none;
        color: #fff;
        font-size: 20px;
      }

  body
    h1 Canzoni
    .demo
      ul
        each song in songs
          li
            a(href="/song/#{song.song_id}") #{song.title}